/* Colors */

// variables
$dark-tint: #242424;
$dark: #181818;
$dark-shade: 101010;
$grey: #888888;
$white: #fff;
$white-dim: #ece9e4;
$yellow: #ffd100;
$yellow-shade: #ffc200;
$yellow-light: hsl(49, 100%, 80%);
$yellow-dark: hsl(49, 100%, 30%);

// map
$colors: (
  dark-tint: $dark-tint,
  dark: $dark,
  dark-shade: $dark-shade,
  grey: $grey,
  white: $white,
  white-dim: $white-dim,
  yellow: $yellow,
  yellow-shade: $yellow-shade,
  yellow-light: $yellow-light,
  yellow-dark: $yellow-dark,
);

@each $color-name, $value in $colors {
  .#{$color-name}-bg {
    background-color: $value;
  }

  .#{$color-name}-color {
    color: $value;
  }
}
