@use 'sass:color';
@import 'colors';
@import 'breakpoints';

/*----------------------------------------------------*/
/*Custom Styles*/
html {
  overflow-x: hidden !important;
}

body {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

::selection {
  background: $white;
}

img {
  vertical-align: middle;
}
//

.waitlist-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  width: 100%;
  padding: 24px 32px;
  border-radius: 20px;
  //
  background: rgba(108, 108, 108, 0.25);
  box-shadow: 0 8px 32px 0 rgba(80, 80, 80, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  //

  //
  @media (min-width: $md) {
    padding: 60px;
  }
  //
  @media (min-width: $lg) {
    flex-direction: row;
  }
  //
  input {
    width: 100%;
    //
    @media (min-width: $lg) {
      width: auto;
      flex-grow: 3;
    }
    @media (min-width: $xl) {
      padding: 18px;
    }
  }
  //
  button {
    width: 100%;
    border: 5.2px solid $yellow;
    box-shadow: 0 4px 32px rgba($color: $yellow-shade, $alpha: 0.3);

    //
    @media (min-width: $lg) {
      width: auto;
      flex-grow: 1;
    }
    //
    @media (min-width: $xl) {
      border: none;
    }
    //
  }
  //
}

//
.grid-pattern-large {
  //
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/grid-pattern-l.svg);
    background-repeat: repeat;
    mask-image: radial-gradient(ellipse at center, $dark 0%, transparent 90%);
    opacity: 1;
  }
  //
}

.fade-start-end {
  -webkit-mask-image: linear-gradient(
    0deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

#hero {
  //
  position: relative;

  //
  h1 {
    background-image: linear-gradient(rgb(229, 229, 229), rgb(82, 82, 82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  //
  .glow {
    width: 800px;
    height: 600px;
    background: $dark;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    //
    .circle {
      position: absolute;
      top: -200px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 300px;
      border-radius: 50%;
      background: rgba($yellow, 30%);
      filter: blur(120px);
      -webkit-filter: blur(120px);
    }
  }
}

#shocking-statement {
}

//

.go1 {
  background-color: rgb(255, 174, 174);
}
.go2 {
  background-color: rgb(158, 234, 255);
}
.go3 {
  background-color: rgb(243, 255, 107);
}
.go4 {
  background-color: rgb(112, 107, 255);
}
