# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


hints.md
v2-upgrades.md
our_water.mp4
our_water.webm
sustainability.mp4
sustainability.webm
person-1.png
person-2.png
person-3.png
1-splitTypes.js
2-splitTypes.js
PHPMailer