@import '../colors';

.matrix {
  display: flex;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 80%;
  user-select: none;
  //
  @media (min-width: $md) {
    max-width: 70%;
  }
  @media (min-width: $xl) {
    max-width: 60%;
    height: 400px;
  }
  //
  p {
    line-height: 1;
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      $dark 30%,
      $dark 70%,
      transparent
    );
  }
  //
  span {
    display: block;
    width: 2vmax;
    height: 2vmax;
    font-size: 2vmax;
    color: #ffd10011;
    text-align: center;
    font-family: Menlo, Consolas, 'Ubuntu Mono', 'Roboto Mono',
      'DejaVu Sans Mono', monospace;
  }
}
